.services_container {
  max-width: 80%;
  margin: auto;
}

.services_header {
  margin: 0 20px;
}

.services_header h1 {
  text-align: center;
  /* font-family: var(--secondary-font);   */
  font-size: 2.5rem;
  color: var(--darkFont-color);
  padding-bottom: 20px;
  border-bottom: 2px solid var(--darkFont-color);
}

.services_gridTable {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .services_container {
    max-width: 100%;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .services_gridTable {
    grid-template-columns: auto;
  }
}
