.header_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-color);
}

.header_bigLogo {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.header_smallLogo {
  display: none;
}

.header_subtitle {
  display: flex;
  justify-content: center;
}

.header_subtitle h3 {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  position: relative;
  bottom: 50px;
  right: 25px;
}

.header_banner {
  max-width: 66rem;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 65px;
  align-self: center;
}

.banner_caption {
  margin: auto;
  font-family: var(--secondary-font);
  font-size: 2.2rem;
  font-weight: 300;
  color: var(--darkFont-color);
}

@media (min-width: 1500px) {
  .header_subtitle h3 {
    font-size: 1.4rem;
    bottom: 60px;
  }
}

@media (max-width: 1200px) {
  .header_bigLogo {
    display: none;
  }
  .header_smallLogo {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .header_subtitle h3 {
    right: 0;
  }

  .header_banner {
    align-items: center;
    flex-direction: column;
  }

  .banner_caption {
    margin: 20px 50px;
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: 300;
    color: var(--darkFont-color);
  }
  .banner_image {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .header_smallLogo {
    width: 100%;
  }

  .header_subtitle h3 {
    font-size: 1rem;
    bottom: 35px;
    right: 0;
  }
}

@media (max-width: 400px) {
  .header_subtitle h3 {
    font-size: 0.8rem;
    bottom: 20px;
  }

  .header_banner {
    bottom: 30px;
  }

  .banner_caption {
    margin: 10px 40px;
    font-size: 1.5rem;
  }
}
