.service_flip_container {
  width: fit-content;
}

.service_flip_heading {
  margin-top: 40px;
  text-align: center;
}

.service_flip_heading h1 {
  font-family: var(--secondary-font);
  font-size: 1.3rem;
  letter-spacing: 4px;
  color: var(--darkFont-color);
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  background-color: var(--darkFont-color);
  border-radius: 45px;
  box-shadow: -5px 5px 5px #aaa;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 420px;
  height: 340px;
  margin: 1em auto;
  
  /* border-radius: 35% 65% 58% 42% / 39% 55% 45% 61%; */
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--darkFont-color);
  text-align: center;
  font-family: var(--secondary-font);
  border: 8px solid #d0ded6;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  /* background-image: linear-gradient(
      45deg,
      rgba(121, 141, 134, 0.5),
      rgba(208, 222, 214, 0.5)
    ),
    url(https://picsum.photos/200/300); */
}

/* back, initially hidden pane */
.back {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  background-color: #d0ded6;
}

.back p {
  padding: 5px;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
}

@media (max-width: 900px) {
  .flip-container,
  .front,
  .back {
    width: 320px;
  }
}

@media (max-width: 300px) {
  .flip-container,
  .front,
  .back {
    width: 200px;
  }
}
