.products_container{
    margin-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--darkFont-color);
    border-top-right-radius: 100px;
    border-bottom-left-radius: -100px;
}

.products_heading h1 {
    padding: 20px;
    margin: 0 8%;
    text-align: center;
    /* font-family: var(--secondary-font);   */
    font-size: 2.5rem;
    color: #d0ded6;
    padding-bottom: 20px;
    border-bottom: 2px solid #d0ded6;
  }